<p style="color: green"><%= notice %></p>
<div>
<p><%= "Kitten Name: #{@kitten.name}" %></p>
<p><%= "Kitten Age: #{@kitten.age}" %></p>
<p><%= "Kitten Cuteness: #{@kitten.cuteness}" %></p>
<p><%= "Kitten Softness: #{@kitten.softness}" %></p>

<%= link_to "Edit this kitten", edit_kitten_path(@kitten) %> |
<%= link_to "Back to kittens", kittens_path %>
 <%= link_to "Delete", @kitten, data: { "turbo-method": :delete } %>
</div>
